# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/quarantine/*
media/models/*
media/yara_rules/*
!media/quarantine/.gitkeep
!media/models/.gitkeep
!media/yara_rules/.gitkeep

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
